<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon hint-text">check_box</mat-icon>
    <span class="hint-text mat-h1 select-todo-text">
        Select a todo
    </span>
</div>

<div *ngIf="todo">

    <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-button class="toggle-complete-button" (click)="toggleCompleted($event)"
                aria-label="Toggle completed" fxFlex="0 1 auto">
            <mat-icon *ngIf="todo.completed">check_box</mat-icon>
            <mat-icon *ngIf="!todo.completed">check_box_outline_blank</mat-icon>
            <span class="ml-8">Mark as Done</span>
        </button>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button (click)="toggleImportant($event)" aria-label="Toggle important">
                <mat-icon class="red-fg" *ngIf="todo.important">error</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.important">error_outline</mat-icon>
            </button>

            <button mat-icon-button (click)="toggleStar($event)" aria-label="Toggle star">
                <mat-icon class="amber-fg" *ngIf="todo.starred">star</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.starred">star_border</mat-icon>
            </button>

            <button mat-icon-button (click)="toggleDeleted($event)" aria-label="Toggle delete">
                <mat-icon class="secondary-text" *ngIf="todo.deleted">delete_forever</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.deleted">delete</mat-icon>
            </button>

        </div>
    </div>

    <div class="todo-content">

        <form [formGroup]="todoForm" (submit)="addTodo()">

            <mat-form-field class="title mt-8" fxFill>
                <mat-label>Title</mat-label>
                <textarea matInput
                          #titleInput
                          name="title"
                          formControlName="title"
                          required>
                </textarea>
            </mat-form-field>


            <mat-form-field fxFill>
                <mat-label>Notes</mat-label>
                <textarea matInput #notes
                          name="notes"
                          formControlName="notes"
                          maxlength="500">
                </textarea>
                <mat-hint align="end">{{notes.value.length}} / 500</mat-hint>
            </mat-form-field>

            <button *ngIf="formType === 'new'"
                    mat-raised-button color="accent"
                    [disabled]="todoForm.invalid">
                SAVE
            </button>
        </form>

    </div>
</div>
